<!doctype html>
<html>
{% include _head.html %}
<body>
{% include _header.html %}
<article>
  <div class="hero">
    <div class="container">
      <h1>{{ page.title }}</h1>
      <img src="/images/box.png" class="right"/>
    </div>
  </div>
  <section>
    <nav>
      <button><i class="fa fa-caret-right"></i>Doc Topics</button>
      <ul>
        <li><a href="/docs/" {% if page.url == "/docs/" %}class="active"{% endif %}>Docs Home</a></li>
        <li>
          <a href="/docs/build-files/" {% if page.url == "/docs/build-files/" %}class="active"{% endif %}>Build Files</a>
          <ul>
            <li><a href="/docs/build-files/project-info" {% if page.url == "/docs/build-files/project-info" %}class="active"{% endif %}>Project Info</a></li>
            <li><a href="/docs/build-files/dependencies" {% if page.url == "/docs/build-files/dependencies" %}class="active"{% endif %}>Dependencies</a></li>
            <li><a href="/docs/build-files/publications" {% if page.url == "/docs/build-files/publications" %}class="active"{% endif %}>Publications</a></li>
            <li><a href="/docs/build-files/targets" {% if page.url == "/docs/build-files/targets" %}class="active"{% endif %}>Targets</a></li>
            <li><a href="/docs/build-files/output" {% if page.url == "/docs/build-files/output" %}class="active"{% endif %}>Output</a></li>
            <li><a href="/docs/build-files/failing-the-build" {% if page.url == "/docs/build-files/failing-the-build" %}class="active"{% endif %}>Failing the Build</a></li>
            <li><a href="/docs/build-files/plugins" {% if page.url == "/docs/build-files/plugins" %}class="active"{% endif %}>Plugins</a></li>
            <li><a href="/docs/build-files/variables" {% if page.url == "/docs/build-files/variables" %}class="active"{% endif %}>Variables</a></li>
          </ul>
        </li>
        <li>
          <a href="/docs/dependency-management/" {% if page.url == "/docs/dependency-management/" %}class="active"{% endif %}>Dependency Management</a>
          <ul>
            <li><a href="/docs/dependency-management/repositories" {% if page.url == "/docs/dependency-management/repositories" %}class="active"{% endif %}>Repositories</a></li>
          </ul>
        </li>
        <li><a href="/releasing" {% if page.url == "/releasing" %}class="active"{% endif %}>Releasing a Project</a></li>
        <li>
          <a href="/docs/plugins/" {% if page.url == "/docs/plugins/" %}class="active"{% endif %}>Plugins</a>
          <ul>
            <li><a href="/docs/plugins/writing-plugins" {% if page.url == "/docs/plugins/writing-plugins" %}class="active"{% endif %}>Writing Plugins</a></li>
            <li><a href="/docs/plugins/database/" {% if page.url == "/docs/plugins/database/" %}class="active"{% endif %}>Database</a></li>
            <li><a href="/docs/plugins/debian/" {% if page.url == "/docs/plugins/debian/" %}class="active"{% endif %}>Debian</a></li>
            <li><a href="/docs/plugins/dependency/" {% if page.url == "/docs/plugins/dependency/" %}class="active"{% endif %}>Dependency</a></li>
            <li><a href="/docs/plugins/file/" {% if page.url == "/docs/plugins/file/" %}class="active"{% endif %}>File</a></li>
            <li><a href="/docs/plugins/groovy/" {% if page.url == "/docs/plugins/groovy/" %}class="active"{% endif %}>Groovy</a></li>
            <li><a href="/docs/plugins/groovy-testng/" {% if page.url == "/docs/plugins/groovy-testng/" %}class="active"{% endif %}>Groovy TestNG</a></li>
            <li><a href="/docs/plugins/idea/" {% if page.url == "/docs/plugins/idea/" %}class="active"{% endif %}>IDEA</a></li>
            <li><a href="/docs/plugins/java/" {% if page.url == "/docs/plugins/java/" %}class="active"{% endif %}>Java</a></li>
            <li><a href="/docs/plugins/java-testng/" {% if page.url == "/docs/plugins/java-testng/" %}class="active"{% endif %}>Java TestNG</a></li>
            <li><a href="/docs/plugins/release-git/" {% if page.url == "/docs/plugins/release-git/" %}class="active"{% endif %}>Release Git</a></li>
            <li><a href="/docs/plugins/spock/" {% if page.url == "/docs/plugins/spock/" %}class="active"{% endif %}>Spock</a></li>
            <li><a href="/docs/plugins/tomcat/" {% if page.url == "/docs/plugins/tomcat/" %}class="active"{% endif %}>Tomcat</a></li>
            <li><a href="/docs/plugins/webapp/" {% if page.url == "/docs/plugins/webapp/" %}class="active"{% endif %}>Webapp</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    {% if page.markdown == 1 %}
      {{ content | markdownify }}
    {% else %}
      {{ content }}
    {% endif %}
  </section>
</article>
</body>
</html>